*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*start the global*/
h4 
{
    margin-top:3%;
    font-weight: bold;
    margin-bottom: 2%;
}
.ask 
{
    position: absolute;
    top: 4px;
    right: 6px;
    font-size: 20px;
    color: #f00;
}
/*end the global*/
/*start the nav*/
nav
{
    background-color: #333;
}
.link
{
    margin-top: 5px;
}
.link i 
{
    color: #fff;
}
nav span 
{
    color: #Fff;
    font-weight: bold;
    font-size: 25px;
}
nav a
{
    color: #fff;
    text-decoration: none;
}
.imgcir
{
    width: 55px;
}
.imgcir img 
{
    width: 100%;
}
/*end the nav*/
/*start the singup***/
.sing
{
    color:#0069d9 ;
}
.form-group
{
    width: 500px;
    margin: auto;
}
.form-group div 
{
 position: relative;
}
.form-group div input 
{
    margin-bottom: 10px;
}
.form-group input[type="submit"]
{
    width: 150px;
    margin-top: 10px;
    margin-bottom: 15px;
}
/*end the singup*/
/* start the login page*/
.log
{
    color: #218838;
}
form div i 
{
    position: absolute;
    top: 10px;
    left: 5px;
    color: #553c3c;
}
form div .login
{
   text-indent: 10px;
}
form div .login::placeholder
{
    text-transform: capitalize;
}
/*end the login page*/
/*start the homepage*/
.image
{
    background-image: url(../image/pexels-pixabay-267360.jpg);
    background-size: cover;
    position: relative;
}
.image .layout 
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 1;
}
.withouts form 
{
    position: relative;
    z-index: 5;
    
}
.withouts form textarea 
{
  margin-top: 15%;
  margin-bottom: 2%;
  width: 500px;
  height: 200px;
}
/*end the homepage*/
/*start the portfile*/
.headpor
{
    font-weight: bold;
    margin-top: 3%;
    letter-spacing: 10px;
    color: #20c997;
    font-size: 45px;
    margin-bottom: 4%;
}
.imageporfile
{
    width: 500px;
    margin-top: 13%;
    padding: 5px;
    background-color: #c9bcbc;
}
.imageporfile img 
{
    width: 100%;
}
.headinfo
{
    font-size: 25px;
    color: #20c997;
    margin-top: 20%;
    margin-bottom: 2% ;
}
.list_info
{
    position: relative;
}
.info i 
{
    position: absolute;
    top: 0px;
    left: -38px;
    font-size: 25px;
    color: #28a745;
}
.info li 
{
    margin-top: 10%;
    background-color: #20c997;
    padding: 5px;
    color: #fff;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #000;
    font-weight: bold;
}
.comm
{
    text-align: center;
    background-color: #0069d9;
    color: #fff;
    width: 600px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 12px;
    padding: 5px;
    position: relative;
}
.comm::before
{
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent #0069d9 transparent transparent;
    border-width: 15px;
    top: 15px;
    left: -28px;
    width: 0;
    height: 0;
}
.comm p 
{
    font-weight: bold;
    font-size: 25px;
}
.datecomm
{
    position: relative;
    top: 9px;
    left: 166px;
    font-weight: bold;
    font-size: 25px;
    color: #6c757d;
}
.delcomm
{
    position: relative;
    top: 2px;
    left: -72px;
}
.nocom
{
    width: 500px;
    margin: auto;
    text-align: center;
    color: #e83e8c;
    font-weight: bold;
}
/*end the portfile*/
/*start the footer*/
footer
{
    background-color: #333;
    color: #fff;
    padding: 1%;
   
}
footer a 
{
    color: #218838;
    font-weight: bold;
}
/*end the footer*/